API_PORT=3000

RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_EXCHANGE=south-park
RABBITMQ_BINDING_KEY=messages.#

CRON_SCHEDULE="@every 10s"
